# Run npx prisma dev --name="youeyesea" to run a local Prisma Postgres server
# And then add the provided DATABASE_URL
# You can seed the database with sample data with 'npx tsx prisma/seed-sample-data.ts'
DATABASE_URL="postgres://"
